<h1>Places I've Visited</h1>

<%= link_to 'New Place', new_place_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place %></td>
        <td>
          <!-- Add additional actions like edit or delete if required -->
          <%= link_to 'View Entries', place_path(place) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

